.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}
.main {
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  background-color: rgb(250, 250, 248);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 177, 112);
  margin-bottom: 30px;
  padding: 5px;
}
.boyImage {
  width: 50px;
  border-radius: 26px;
}
.fatherImage {
  width: 50px;
  border-radius: 26px;
}
#homeBtn {
  background-color: rgba(168, 245, 177, 0.792);
  border: none;
  padding: 5px 10px;
}
#home:hover {
  background-color: gray;
  color: white;
}
.section {
  padding: 1px 5px;
}
.left-section {
  text-align: left;
  margin-bottom: 5px;
}
.right-section {
  text-align: right;
  margin-bottom: 5px;
}
.left-sectionColor {
  padding: 2px 6px;
  border-radius: 5px;
}
.right-sectionColor {
  padding: 2px 6px;
  border-radius: 5px;
}
.msg {
  font-size: 19px;
  margin-right: 3px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.dur {
  font-size: 11px;
  color: rgb(126, 124, 124);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer {
  margin-top: 30px;
  display: flex;
}
.btn-1 {
  border: none;
  background-color: rgb(85, 161, 90);
  color: rgb(23, 23, 24);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 12px;
  width: 100%;
}
input {
  height: 20px;
  width: 100%;
}
.gap-1 {
  flex: 3;
}
.gap-2 {
  flex: 1;
}
span,
h3 {
  cursor: pointer;
}
span:hover {
  background-color: rgb(179, 243, 243);
}

a {
  margin-top: 5px;
}
img:hover {
  width: 55px;
}

@media (max-width: 800px) and (min-width: 600px) {
  .sub-part {
    width: 255px;
  }
  input {
    width: 98%;
    margin-bottom: 5px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .msg {
    font-size: 14px;
  }
  .dur {
    font-size: 9;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 600px) and (min-width: 300px) {
  .sub-part {
    width: 180px;
  }
  input {
    width: 98%;
    margin-bottom: 5px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 15px;
  }
}
