body {
  background-color: rgb(248, 248, 246);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 1px 1px 1px black;
  background-color: rgb(212, 243, 213);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.btn {
  border: none;
  background-color: rgb(85, 161, 90);
  color: rgb(23, 23, 24);
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 12px;
  width: 100%;
}
.btn:hover {
  background-color: grey;
  color: white;
}

#father {
  width: 40px;
}
#son {
  width: 40px;
}

@media (max-width: 800px) and (min-width: 600px) {
  .app {
    width: 220px;
  }
  h1 {
    font-size: 13px;
  }
  h2 {
    font-size: 12px;
  }
}
@media (max-width: 600px) and (min-width: 300px) {
  .app {
    width: 140px;
  }
  h1 {
    font-size: 12px;
  }
  h2 {
    font-size: 11px;
  }
}
